<h1>Skate Park</h1>

<div class="py-4">
    <h2>Administración</h2>
    <hr class="w-50" />

    <table class="table w-50 m-auto">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Años de experiencia</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody id="resultado">
            {{#each skaters}}
            <tr data-id="{{skaters.id}}" data-nombre="{{nombre}}">
                <th scope="row">{{id}}</th>
                <td>
                    <div></div>
                </td>
                <td>{{nombre}}</td>
                <td>{{email}}</td>
                <td>{{anos_experiencia}}</td>
                <td>{{especialidad}}</td>
                <td>
                    <input type="checkbox" data-id="{{id}}" {{#if estado}}checked{{/if}} />
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>

<div>
    <hr>
    <a href="/" id="logout-link">Salir</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    const token = localStorage.getItem('token');
    console.log(token);
    if (!token) {
        window.location.href = '/login';
    }

    axios.get('/datosUser', {
        headers: {
            Authorization: `Bearer ${token}`
        }
    })
        .then(({ data }) => {
            console.log(data);

        })
        .catch(e => console.log(e))

</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', (event) => {
                const checkbox = event.target;
                const skaterId = checkbox.getAttribute('data-id');
                const newState = checkbox.checked;

                axios.post('/estado', {
                    id: skaterId,
                    estado: newState
                })
                    .then(response => {
                        console.log('Estado actualizado:', response.data);

                    })
                    .catch(error => {
                        console.error('Error actualizando estado:', error);
                    });
            });
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const logoutLink = document.getElementById('logout-link');

        logoutLink.addEventListener('click', (event) => {
            event.preventDefault(); // Evita que el navegador siga el enlace inmediatamente

            // Elimina el token del localStorage
            localStorage.removeItem('token');

            window.location.href = '/'
        });
    });
</script>